# Phylogroup ANI

In [7]:
from IPython.display import display
import pandas

ani = pandas.read_csv('cobra2/ANI.tsv', sep='\t')
ani['genome1'] = ani['#genome1:genome2'].str.split(':', expand=True)[0]
ani['genome2'] = ani['#genome1:genome2'].str.split(':', expand=True)[1]
ani = ani.set_index(['genome1', 'genome2'])

0            [Esch_albertii_05-3106, Esch_albertii_06-3542]
1            [Esch_albertii_05-3106, Esch_albertii_07-3866]
2             [Esch_albertii_05-3106, Esch_albertii_1551-2]
3         [Esch_albertii_05-3106, Esch_albertii_2012EL-1...
4         [Esch_albertii_05-3106, Esch_albertii_2013C-4143]
                                ...
233767     [Shig_sp._PAMC_28760, Shig_flexneri_FDAARGOS_74]
233768       [Shig_sp._PAMC_28760, Shig_flexneri_NCTC_9728]
233769         [Shig_sp._PAMC_28760, Shig_flexneri_SFL1520]
233770               [Shig_sp._PAMC_28760, Shig_sonnei_866]
233771           [Shig_sp._PAMC_28760, Shig_sonnei_AR_0030]
Name: #genome1:genome2, Length: 233772, dtype: object

In [10]:
import json

with open("clades.json") as f:
    clades = json.load(f)
    
ani['clade1'] = ani['genome1'].map(clades)
ani['clade2'] = ani['genome2'].map(clades)

ani_same_clade = ani[ani['clade1'] == ani['clade2']]

ani_same_clade.groupby(['clade1']).mean()

        shared_positions  different_positions       ANI  shared_genes  total_genes  frac_shared
clade1
A           3.551231e+06         56687.085114  0.984221   3931.012186  4996.629921     0.790441
B1          3.489296e+06         69529.697067  0.979676   3979.055626  5214.914634     0.765342
B2          3.754596e+06         61117.110577  0.983820   4183.237500  5184.476923     0.808279
C           3.851297e+06         33881.444444  0.991222   4296.513072  5135.333333     0.839539
D           3.762391e+06         85896.866995  0.977259   4200.151478  5272.137931     0.798374
E           3.686281e+06         86779.520468  0.976146   4156.745614  5458.263158     0.761473
F           3.890714e+06         63487.395257  0.983708   4310.583004  5332.173913     0.810462
G           3.871361e+06         36211.133333  0.990578   4434.300000  5325.100000     0.834071